.lu_selector {
	width: calc(100% - 20px);
	padding: 5px;
	font-weight: bold;
	background-color: #00000055;
	color: #FFF;
	border-radius: 5px;
	outline: none;
}

.lu_selector option {
	background-color: #00000055;
	border-top: 1px solid #000000;
	padding: 5px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.lu_list_container {
	overflow-y: scroll;
	height: 100%;
}

.lu_list_element {
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 5px;
	cursor: pointer;
	border-top: 1px solid #777;
}

.lu_list_element--selected {
	background-color: #00000055;
	font-weight: bold;
}

.lu_list_element--interactive:hover {
	background-color: #00000055;
}

.lu_button {
	pointer-events: visible;
	cursor: pointer;
	color: #FFF;
	padding: 10px;
	width: fit-content;
	min-width: 25px;
	min-height: 20px;
	line-height: 1px;
	font-size: 0.9em;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lu_button--full {
	width: calc(100% - 20px);
}

.lu_button--selected {
	color: #6afd75;
	pointer-events: none;
}

.lu_button:hover {
	background-color: #5E6161FF;
}

.lu_button--secondary {
	border-radius: 0;
	background-color: #00000077;
}

.lu_button--secondary:hover {
	border-radius: 0;
	background-color: #00000055;
}

.lu_icon_button {
	cursor: pointer;
}

.lu_icon_button:hover {
	color: #FFFF00;
}

.lu_icon_button--selected {
	color: #6afd75;
	pointer-events: none;
}

.lu_icon_button--disabled {
	pointer-events: none;
	opacity: 0.3;
}

.lu_input {
	background: #44382cb0;
	position: relative;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	color: #FFF;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	outline: none;
}

.lu_input::placeholder {
	color: #666;
}

.lu_input:focus,
.lu_input:active {
	border: 1px solid #FFFF00;
	filter: drop-shadow(2px 4px 5px #00000066);
}

.lu_slider {
	background: #44382cb0;
	position: relative;
	height: 15px;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 3px;
}

.lu_native_slider {
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.lu_slider__thumb_container {
	width: calc(100% - 15px);
	position: absolute;
	pointer-events: none;
	top: 0;
}

.lu_slider__thumb {
	width: 13px;
	height: 13px;
	background-color: #69fd75;
	position: relative;
	border-radius: 3px;
	margin: 1px;
}

.lu_color_picker {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	height: 25px;
}

.lu_color_picker:active {
	border: none;
	outline: none;
}

.lu_color_picker:focus {
	border: none;
	outline: none;
}

.lu_form__select {
	background: #44382cb0;
	color: #FFF;
	border-radius: 3px;
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.2);
	font: inherit;
	font-size: 0.8em;
	padding: 5px 10px;
	box-sizing: content-box;
	align-items: center;
	display: flex;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: '';
	box-sizing: border-box;
}

.lu_form__select:hover,
.lu_form__select:active {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.lu_form__radio {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	width: 27px;
	height: 27px;
	opacity: 0.5;
	cursor: pointer;
}

.lu_textarea {
	resize: none;
	background-color: #F8EDC8;
	border: none;
	outline: none;
	font-family: 'Source Code Pro', monospace;
	border-radius: 3px;
	padding: 1rem;
	min-height: 5rem;
}

.lu_textarea::placeholder {
	color: #666;
}