.lu_main_menu_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: all;
	overflow: hidden;
}

.lu_main_menu {
	position: absolute;
	left: -350px;
	top: 50%;
	transform: translateY(-50%);
	transition: left 0.5s ease-out;
	pointer-events: none;
}

.lu_main_menu--open {
	left: 5%;
	pointer-events: all;
}

.lu_main_menu__logo {
	filter: drop-shadow(2px 4px 6px #000);
	padding: 0 20px;
	margin-bottom: 10px;
}

.lu_main_menu__button {
	width: 100%;
	cursor: pointer;
	padding: 10px 40px;
	box-sizing: border-box;
	color: #FFF;
	font-weight: bold;
	font-size: 1.25em;
	background: rgba(0, 0, 0, 0.4);
	margin-bottom: 1px;
	filter: drop-shadow(2px 4px 6px #000);
}

.lu_main_menu__button:hover {
	background: rgba(0, 0, 0, 0.2);
	color: #FFFF00;
}

.lu_main_menu_modal {
	background: rgba(0, 0, 0, 0.3);
	width: 80%;
	height: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: top 0.5s ease-out;
	color: #FFF;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
}

.lu_main_menu_modal--open {
	top: -100%;
}

.lu_main_menu_modal__header {
	padding: 10px 20px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2em;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5);
	filter: drop-shadow(0 2px 4px #000);
}

.lu_main_menu_modal__header_button {
	cursor: pointer;
	user-select: none;
}

.lu_main_menu_modal__header_button:hover {
	color: #FFFF00;
}

.lu_main_menu_modal__content {
	padding: 20px;
	height: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
}

.lu_main_menu_settings {
	height: 100%;
	align-items: start;
}

.lu_main_menu_settings_submenu {
	width: 30%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	margin-right: 10px;
	display: flex;
	flex-direction: column;
}

.lu_main_menu_settings_submenu__button {
	cursor: pointer;
	user-select: none;
	background: rgba(0, 0, 0, 0.4);
	padding: 10px;
	margin-bottom: 1px;
}

.lu_main_menu_settings_submenu__button--active,
.lu_main_menu_settings_submenu__button:hover {
	color: #FFFF00;
	background: rgba(0, 0, 0, 0.2);
}

.lu_main_menu_settings__entry {
	margin-bottom: 1px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.2);
}

.lu_adventure_editor__block {
	margin-bottom: 20px;
}

.lu_adventure_editor__block:last-of-type {
	margin-bottom: 0;
}

.lu_adventure_editor__title {
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	padding: 10px;
	box-sizing: border-box;
}

.lu_adventure_editor__list {
	display: flex;
	padding: 10px 0;
}

.lu_adventure_editor__adventure {
	width: 200px;
	height: 200px;
	background: rgba(0, 0, 0, 0.2);
}