.lu_edialog__root {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #00000066;
	pointer-events: all;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lu_edialog__content {
	background-color: #FFFFFF11;
	color: #FFF;
	border: 1px solid #4a4947;
	width: 60%;
	min-width: min-content;
	position: relative;
	backdrop-filter: blur(5px);
	border-radius: 3px;
	filter: drop-shadow(2px 4px 6px black);
}

.lu_edialog__content--auto-size {
	width: initial;
	height: initial;
}

.lu_edialog__content--half_screen {
	height: 50%;
}

.lu_dialog_close {
	position: absolute;
	right: 7px;
	top: 5px;
	cursor: pointer;
	color: #FFF;
}

.lu_dialog_close:hover {
	color: #69fd75;
}

.lu_dialog__button {
	border-radius: 3px;
	padding: 5px 10px;
}

.lu_dialog__positive_button {
	background-color: #00FF0066;
}

.lu_dialog__positive_button:hover {
	background-color: #00FF0099;
}

.lu_dialog__warning_button {
	background-color: #FF000066;
}

.lu_dialog__warning_button:hover {
	background-color: #FF000099;
}